* {
	box-sizing: border-box;
	font-style: oblique;
	font-variant: small-caps;
	font-family: "Georgia", cursive;
}
.container {
	border: 3px solid rgb(124, 150, 235);
	color: azure;
	-moz-border-radius: 40px;
	-webkit-border-radius: 40px;
	-moz-box-shadow: 4px 4px 4px 4px #4f80b1;
	-webkit-box-shadow: 4px 4px 4px 4px #4f80b1;
	box-shadow: 4px 4px 4px #4f80b1;
	border-radius: 10px;
	padding-left: 20px;
	margin: 30px;
	background-color: #223968;
}
.title {
	margin-left: 24px;
}
.addTitle {
	display: flex;
	justify-content: center;
}

.calendar {
	margin-bottom: 24px;
}

.headerCalendar {
	display: flex;
	justify-content: center;
	align-items: center;
}
.button {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	align-content: center;
}
button:hover {
	border-color: rgb(255, 255, 255);
	opacity: 100%;
	box-shadow: #00093d;
	color: #00093d;
	background-color: rgb(255, 255, 255);
	transition: 0.6s;
	-webkit-transition: 0.6s;
}
.button button {
	align-items: center;
	opacity: 80%;
	appearance: none;
	background-color: #fcfcfd;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	box-sizing: border-box;
	color: #36395a;
	cursor: pointer;
	display: inline-flex;
	font-weight: 400;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 16px;
	margin-left: 20px;
}
header {
	display: flex;
	margin-top: 15px;
	justify-content: space-between;
	width: 100%;
}
button{
	align-items: center;
	opacity: 80%;
	appearance: none;
	background-color: #fcfcfd;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	box-sizing: border-box;
	color: #36395a;
	cursor: pointer;
	display: inline-flex;
	font-family: "Georgia", monospace;
	height: 48px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 16px;
	font-weight: 400;
	padding: 5px 10px;
	margin: 6px 12px;
}
header button {
	margin: 6px 12px;
}
header button:hover {
	border-color: rgb(255, 255, 255);
	opacity: 100%;
	box-shadow: #00093d;
	color: #00093d;
	background-color: rgb(255, 255, 255);
	transition: 0.6s;
	-webkit-transition: 0.6s;
}
header button span {
	text-align: center;
	line-height: 17px;
}

.week {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 15px;
	padding-top: 30px;
	color: black;
	border-radius: 15px;
	background-color: rgb(158, 142, 121);
	box-shadow: 0px 0px 0px 5px rgba(168, 175, 226, 0.4), 0px 4px 20px rgba(25, 23, 37, 0.33);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.calendar-week {
	margin-top: 50px;
	margin-bottom: 30px;
}
.day {
	width: 30%;
	margin-left: 30px;
	margin-bottom: 30px;
	color: azure;
	border-radius: 15px;
	background-color: #223968;
	box-shadow: 0px 0px 0px 5px rgba(168, 175, 226, 0.4), 0px 4px 20px rgba(25, 23, 37, 0.33);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.dayTask {
	display: flex;
	justify-content: flex-start;
	margin-left: 15px;
}
.checkboxTask {
	flex: 1;
	margin-top: 8px;
	height: 12px;
	width: 12px;
}
.taskName {
	flex: 2;
}

.day span {
	font-size: large;
	font-weight: 600;
	text-align: center;
	display: block;
}
.day p {
	font-size: medium;
	padding-left: 20px;
}
#priorities {
	display: flex;
	align-items: center;
	justify-items: center;
}
#prorities span,
input {
	margin-top: 10px;
	background-color: white;
	border-radius: 5px;
	box-sizing: border-box;
	outline: none;
	cursor: black;
}
.addTask {
	border-radius: 10px;
	color: #00093d;
	width: 100%;
	padding: 12px 60px;
	margin-bottom: 30px;
	background-color: rgb(158, 142, 121);
	box-shadow: 0px 0px 0px 5px rgba(168, 175, 226, 0.4), 0px 4px 20px rgba(25, 23, 37, 0.33);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.addTask input {
	margin-left: 12px;
}
#isRepeatTask {
	margin-left: 6px;
	margin-top: 8px;
}
#isRepeatTask_label {
	width: auto;
	padding-right: 0px;
}
#importance {
	margin-top: 1px;
	margin-right: 5px;
}

.checkbox {
	padding-left: 3px;
	display: flex;
	align-items: flex-start;
}
.labels {
	display: flex;
	margin-bottom: 8px;
	margin-top: 8px;
}

#hight {
	margin-left: 15px;
}

#low {
	margin-left: 5px;
}
.col-10 {
	margin-bottom: 8px;
}
.day input {
	margin-left: 3px;
}
.search {
	width: 100%;
	margin: 12px 0px 24px;
	padding-left: 24px;
	background-color: rgb(158, 142, 121);
	color: #00093d;
	box-shadow: 0px 0px 0px 5px rgba(168, 175, 226, 0.4), 0px 4px 20px rgba(25, 23, 37, 0.33);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.search button {
	margin: 6px 12px;
}
.search button:hover {
	border-color: rgb(255, 255, 255);
	opacity: 100%;
	box-shadow: #00093d;
	color: #00093d;
	background-color: rgb(255, 255, 255);
	transition: 0.6s;
	-webkit-transition: 0.6s;
}
.search input {
	margin: 6px 12px;
}
.searchElement {
	width: 100%;
	margin: 12px 0px 24px;
	align-items: center;
	padding: 6px 0;
}
.listOfElements {
	display: flex;
	justify-content: left;
}
.titleOfElements {
	font-size: 30px;
	display: flex;
	justify-content: center;
}
.searchTask {
	margin: 10px;
	padding: 5px;
	align-items: stretch;
	color: azure;
	border-radius: 15px;
	background-color: #223968;
	box-shadow: 0px 0px 0px 5px rgba(168, 175, 226, 0.4), 0px 4px 20px rgba(25, 23, 37, 0.33);
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}
.inputTask {
	margin-top: 8px;
	margin-right: 10px;
}
.searchTask .buttonTask {
	margin-left: 10px;
	opacity: 80%;
	align-items: center;
	appearance: none;
	background-color: #fcfcfd;
	border-radius: 4px;
	border-width: 0;
	box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
	box-sizing: border-box;
	/* color: #36395a; */
	cursor: pointer;
	display: inline-flex;
	font-family: "Georgia", monospace;
	height: 24px;
	justify-content: center;
	line-height: 1;
	list-style: none;
	overflow: hidden;
	padding-left: 16px;
	padding-right: 16px;
	position: relative;
	text-align: left;
	text-decoration: none;
	transition: box-shadow 0.15s, transform 0.15s;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	white-space: nowrap;
	will-change: box-shadow, transform;
	font-size: 16px;
	font-weight: 400;
}
